* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;

}

.task-card {
  margin-top: 2rem;
  width:400px;
  background: rgb(255,0,211);
  background: linear-gradient(152deg, rgba(255,0,211,1) 0%, rgb(255, 140, 245) 90%);
  min-height:500px;
  border-radius: 5px;
  text-align: center;
}
.header {
  margin-top: 1.5rem;
 
}
.header h2 {
  font-weight: 600;
  font-size: 1.8rem;

}
.header button {
  color: #fff;
  background-color: purple;
  padding:.6rem 1rem;
  margin-top: .5rem;
  border:none;
  border-radius: 5px;
  letter-spacing: 1px;

}
.add-task {
  text-align-last: left;
  margin: 1rem 1.5rem;
}
.add-task label {
  display: block;
}
.add-task  input {
  width:100%;
  margin-bottom: 1rem;
  margin-top: 3px;
  line-height: 1.5rem;
  padding: 2px;
}


.save-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
}

.tasks {
  text-align-last: left;
  margin: 1rem 1.5rem;
}
.task-item {
  border:2px solid purple;
  border-radius: 8px;
  position: relative;
  padding: 0.3rem .4rem;
  margin:  0.5rem 0;

}
.task-item h2{
  font-weight: 500;
  text-transform: capitalize;
}
.task-close {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  top: 10px;
  cursor: pointer;
}
.task-desc {
  cursor: pointer;
  display: inline-block;
}